.info{
    padding:70px 0 100px 0;
    position:relative
}

.bgc_с{
    position:absolute;
    width:1109px;
    height:780px;
    background:rgba(243,255,222,.45);
    z-index:-1;top:50px
}

.info .container{
    display:flex;
    justify-content:space-between
}

.info__text{
    width:580px
}

.info__advantages h2{
    font-weight:700;
    font-size:20px;
    margin-top:20px
}

.info__advantages h3{
    margin-top:20px
}

.info__descr{
    font-size:18px;
    margin-top:30px;
    font-weight:300;
    line-height:24px
}

.info__advantages{
    width:330px;
    margin-top:50px
}

.info__advantages-text{
    margin-top:20px;
    font-size:18px;
    font-weight:300;
    line-height:21px
}

.info__pic{
    width:650px;
    margin-top:50px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}

.info__pic-wrapper{
    width:100%;
    margin-top:15px;
    box-shadow:0 4px 30px rgba(0,0,0,.25)
}

